<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Brown_Prepress_Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Brown_Prepress_Automation.Properties.Settings>
            <setting name="lastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="hotFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\HOTFOLDER\</value>
            </setting>
            <setting name="errorFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\ERRORS\</value>
            </setting>
            <setting name="archiveFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\ARCHIVE\</value>
            </setting>
            <setting name="updateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendEmails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempDir" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="parts" serializeAs="String">
                <value>\\192.168.1.45\Parts\</value>
            </setting>
            <setting name="bluelineOutput" serializeAs="String">
                <value>\\192.168.1.45\Output1\HOTFOLDER - BLUELINE\</value>
            </setting>
            <setting name="exchangeServer" serializeAs="String">
                <value>bii-owa.brownind.com</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>mhoward</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>mh4094</value>
            </setting>
            <setting name="fromEmail" serializeAs="String">
                <value>matt.howard@brownind.com</value>
            </setting>
            <setting name="printer" serializeAs="String">
                <value />
            </setting>
            <setting name="tuftexEmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>pam.mcatee@brownind.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="armstrongHotfolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\HOTFOLDER\Armstrong\</value>
            </setting>
            <setting name="armstrongErrorFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\ERROR\Armstrong\</value>
            </setting>
            <setting name="nourisonHotfolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\HOTFOLDER\Nourison\</value>
            </setting>
            <setting name="nourisonErrorFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\ERROR\Nourison\</value>
            </setting>
            <setting name="shawHotfolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\HOTFOLDER\Shaw\</value>
            </setting>
            <setting name="shawErrorFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\ERROR\Shaw\</value>
            </setting>
            <setting name="armstrongPdfs" serializeAs="String">
                <value>\\192.168.1.45\Customers\Armstrong\PDFs\</value>
            </setting>
            <setting name="XMF5x1_75" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\XMF HOTFOLDERS\OMEGA DIE 284\</value>
            </setting>
            <setting name="armstrongArchiveFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\Archive\Armstrong\</value>
            </setting>
            <setting name="shawArchiveFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\Archive\Shaw\</value>
            </setting>
            <setting name="nourisonArchiveFolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\Archive\Nourison\</value>
            </setting>
            <setting name="nourisonHpOutput" serializeAs="String">
                <value>\\192.168.1.45\Output1\CALDERA HOTFOLDERS\STYRENE - HQ POP\</value>
            </setting>
            <setting name="nourisonPdfs" serializeAs="String">
                <value>\\192.168.1.45\Customers\Nourison\POP\Nourison POP\</value>
            </setting>
            <setting name="shawPdfs" serializeAs="String">
                <value>\\192.168.1.45\PrintablePDFs\Shaw Hardsurfaces\Shaw Proofs\</value>
            </setting>
            <setting name="shawHpOutput" serializeAs="String">
                <value>\\192.168.19.200\Watched Folders\Move to Caldera - White Paper\</value>
            </setting>
            <setting name="shawIndigo5600" serializeAs="String">
                <value>\\192.168.1.45\Output1\Printable Hotfolders\Indigo 5600\Printable\</value>
            </setting>
            <setting name="shawIndigo6800" serializeAs="String">
                <value>\\192.168.1.45\Output1\Printable Hotfolders\Indigo 6800\Printable\</value>
            </setting>
            <setting name="tuftexPdf" serializeAs="String">
                <value>\\192.168.1.45\Customers\Tuftex\Labels\Pdfs\</value>
            </setting>
            <setting name="tuftexJpg" serializeAs="String">
                <value>\\192.168.1.45\Customers\Tuftex\Labels\Jpgs\</value>
            </setting>
            <setting name="tuftexXmlHotfolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\HOTFOLDER - TUFTEX LABELS\</value>
            </setting>
            <setting name="tuftexMiscHotfolder" serializeAs="String">
                <value>\\192.168.1.45\Output1\HOTFOLDER - TUFTEX MISC LABELS\</value>
            </setting>
            <setting name="nourisonCommon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="armstrongAHFpdfs" serializeAs="String">
                <value>\\192.168.1.45\Customers\AHF Products\Pdfs\</value>
            </setting>
            <setting name="XMF16x16" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\XMF HOTFOLDERS\ARMSTRONG 16x16\</value>
            </setting>
            <setting name="armstrongEmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>irene.sisson@brownind.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="prepressHotfolder" serializeAs="String">
                <value>\\192.168.19.5\Log\</value>
            </setting>
            <setting name="workerWait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="downloadPdfName" serializeAs="String">
                <value />
            </setting>
            <setting name="xmfHotfolders" serializeAs="String">
                <value>\\192.168.1.45\Output1\BROWN AUTOMATION PROGRAM\XMF HOTFOLDERS\</value>
            </setting>
            <setting name="shawPdfsOld" serializeAs="String">
                <value>\\192.168.1.45\PrintablePDFs\Shaw Hardsurfaces\Shaw Proofs\</value>
            </setting>
            <setting name="shawEmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>matt.howard@brownind.com</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Brown_Prepress_Automation.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
